.tableWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 150px;
}

.tableWrapper table {
  margin: 0 auto;
  border-spacing: 5px;
  width: 80%;
}

.icon {
  font-size: 18px;
}

td {
  width: 25px;
  height: 20px;
  color: var(--fontWhiteColor);
  text-align: center;
}

table tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 5px;
  color: var(--fontWhiteColor);
  width: 100%;
  height: 35px;
  font-size: 16px;
  caret-color: #ccc;
  text-align: center;
}

input:hover {
  cursor: pointer;
}

input::placeholder {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #ccc;
  text-align: center;
  height: 35px;
}

input:focus {
  outline: #ccc;
  box-shadow: 0 0 2px white;
  cursor: text;
}

input:focus::placeholder {
  color: transparent;
}

.formChange td {
  cursor: pointer;
  background-color: var(--hoverBackgroundColor);
  border-radius: 5px;
  width: 20%;
}

.formChange td:last-child {
  cursor: auto;
}

.formChange tr:last-child:hover {
  background-color: transparent;
}



.formEdit td {
  border: 1px solid rgba(204, 204, 204, 0.3);
  padding: 7px;
}

.buttonWrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
}


button {
  background-color: transparent;
  color: #ccc;
  border: none;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}