
.wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--hoverBackgroundColor);
    height: 90px;
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 30px;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;

}

.image {
    width: 70px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.2);
}

.header {
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -63px;

}

.title {
    padding: 5px;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
}

.subtitle {
    font-weight: 200;
}

.nav {
    display: flex;
    margin: 0 auto;
    gap: 650px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.links a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.links a:hover {
    border-bottom: 1px solid white;
}

