.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* outline: 1px solid red;     */
}


.button {
    background-color: var(--hoverBackgroundColor);
    border: none;
    border-radius: 5px;
    color: var(--fontWhiteColor);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.5px;
    width: 20%;
    height: 50px;
    margin: 2px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.button:hover {
    background-color: rgba(95, 87, 132, 0.5);
    color: white;
    border: 1px solid var(--hoverBackgroundColor);
}

.button:nth-child(even):hover {
    background-color: rgba(66, 105, 132, 0.5);
    color: white;
    
}