* {
	margin: 0;
	padding: 0;
}

:root {
    /* градиент фона */
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /*переменные цвета*/
    --greenColor: #348F50;
    --blueColor: #56B4D3;
    --whiteColor: rgba(255, 255, 255, 0.1);
    --fontWhiteColor: rgba(255, 255, 255, 0.7);
    --greyColor: lightgrey;
    --hoverBackgroundColor: rgba(255, 255, 255, 0.1);


    /*шрифты*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
